/* TODO FIXME keysearch-typeahead styles are assumed to be read first, then these. */

.tag-box .typeahead-input {
    display: inline-block;
    background: transparent;
    border: none;
    color: #777;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    outline: none;
    min-width: 200px;
    max-width: 400px;
    min-height: 28px;
    max-height: 200px;
}

.tag-box .typeahead-results {
}

.tag-box .typeahead-listitem {
}

.tag-box .typeahead-listitem .typeahead-listanchor {
}

.tag-box .typeahead-hover,
.tag-box .typeahead-listitem:hover {
}

