body {
    background-color: #ececfc;
    padding-bottom: 20px;
}

hr {
    border-top: 1px solid #ccc;
}

.row {
    font-size: medium;
    background-color: #f8f8f8;
}

.brand-icon {
    position: absolute;
    top: 3px;
    height: 45px;
}

.brand-name {
    display: inline;
    color: #f8f8f8;
    font-weight: normal;
    position: relative;
    top: 13px;
    left: 70px;
}

@media (max-width: 768px) {
    .brand-name {
        font-size: 16pt;
        top: 14px;
    }
}

@media (max-width: 380px) {
    .brand-name {
        font-size: 14pt;
        left: 40px;
    }
}

.jumbotron {
    background-color: inherit;
    margin-bottom: 0px;
}

.jumbotron h1, .jumbotron p {
    text-align: center;
    vertical-align: middle;
}

.jumbotron a {
    margin-top: 35px;
}

.copyright {
    text-align: center;
}

.congrats {
    font-size: large;
    border: 2px solid #cdcddd;
    padding: 30px;
}

.announce {
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

.announce hr {
    border-top: 1px solid #663333;
}

.announce h2 {
    text-align: center;
}

.announce h3 {
    color: #663333;
}

.announce p {
    font-size: medium;
    line-height: 1.2em;
    margin: 20px 10px;
}

.next h3 {
    margin-top: 0px;
    text-align: center;
}

.next .link {
    text-align: center;
    margin-bottom: 0px;
}

.stand-alone-link {
    padding: 0px;
    text-align: center;
}

.carousel {
    margin-top: 20px;
}

.carousel .item {
    width: 100%;
    /*max-height: 500px;*/
    /*text-align: center;*/
}

.carousel h3 {
    color: #fff;
}

.carousel-caption {
    left: 10%;
    right: 10%;
}

.sidebar {
    background-color: #f5ebeb;
    border: 1px solid #bbb;
}

.sidebar h3 {
    text-align: center;
}

.award {
    color: #bb0000;
    text-align: center;
}

.award-large {
    color: #bb0000;
    font-size: larger;
    font-weight: bold;
}

.remember-this {
    font-style: italic;
    font-weight: bold;
}

.notice {
    color: red;
    font-size: larger;
    font-style: italic;
    font-weight: bold;
}

.brand {
    height: 60px;
    width: 95px;
    margin-bottom: 10px;
    margin-right: 20px;
    vertical-align: middle;
}

a.menu-selected {
    /*font-weight: bold;*/
    color: red;
}

.save-for-later {
    display: none;
}

.schedule, .stats, .about {
    margin-top: 50px;
}

.stats h2, .stats h3 {
    text-align: center;
}

.footer {
    margin-top: 100px;
}

.footer hr {
    border-top: 1px solid #ccc;
}
