.row {
    font-size: medium;
    background-color: #fff8f8;
}

#attendanceStats {
}

.header h1, .header h3, .header h4 {
    text-align: center
}

.attendance ul li {
    list-style: none;
}

.attendance .events, .attendance h4 {
    text-align: center;
}

.header h4 span {
    vertical-align: middle;
}

.header select {
    margin-left: 10px;
    margin-right: 20px;
}

.header select#quarter {
    width: 50px;
}

.header select#year {
    width: 75px;
}

.winner {
    font-weight: bold;
    color: #884444;
    margin-left: 10px;
}

.playerTable {
    height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
}

/* Add extra padding on left except on small devices */
@media (min-width: 500px) {
    .playerTable {
        margin-left: 150px;
    }
}
