.row {
    font-size: medium;
    background-color: #fff8f8;
}

.header h1, .header h3 {
    text-align: center
}

.attendance ul li {
    list-style: none;
}

.attendance .events, .attendance h4 {
    text-align: center;
}

.header select {
    margin-left: 10px;
}

.header select#quarter {
    width: 50px;
}

.header select#year {
    width: 75px;
}

.header .stats-year {
    text-align: right;
}

.winner {
    font-weight: bold;
    color: #884444;
    margin-left: 10px;
}

.playerTable {
    height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
}

/* Add extra padding on left except on small devices */
@media (min-width: 500px) {
    .playerTable {
        margin-left: 150px;
    }
}

/* Center horizontally, only on small devices */
@media (max-width: 800px) {
    .header .stats-year, .header .stats-quarter {
        text-align: center;
    }
}
